
.add__formGroupe{
    display: flex;
    flex-direction: column;   
}
.add__container{
    width: 80%;
    margin-bottom: 30px;
    margin-left: 10%;
}


input[type="file"] {
    visibility: hidden;
  }